/* Write your CSS here! */

body {
  margin: 8px;
  display: block;
  height: 100%;
}

p {
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-top: 1%;
}

footer {
  text-align: center;
  padding-top: 5%;
}

.card {
  display: none;
}

.card,
#card1 {
  width: 75%;
  margin: 0 auto;
  color: white;
}

.movieImg {
  width: 25%;
}

#enterButton {
  z-index: 10;
  position: absolute;
  top: 67vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: black;
  color: red;
  width: 30%;
  box-shadow: 10px 10px 24px 0px rgba(241, 232, 232, 0.75);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(241, 232, 232, 0.75);
  -moz-box-shadow: 10px 10px 24px 0px rgba(241, 232, 232, 0.75);
}

#heroImg {
  height: 100vh;
  width: 98%;
  position: absolute;
  filter: blur(3px);
  text-align: center;
  display: block;
  margin: 0 auto;
}

#mainHeading {
  font-family: "Tilt Prism", cursive;
  color: red;
  background-color: black;
  line-height: 1.15;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(189, 191, 187, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(189, 191, 187, 1);
  box-shadow: 10px 10px 5px 0px rgba(189, 191, 187, 1);
  text-align: center;
  position: relative;
  top: 25vh;
  width: 96%;
  display: block;
  margin: auto;
}

#webpageSubtitle {
  color: rgba(53, 53, 53, 1);
  background-color: rgba(200, 191, 187, 0.5);
  position: relative;
  top: 25vh;
  text-align: center;
  color: white;
  width: 96%;
  display: block;
  margin: auto;
}

#heroCallOut {
  position: relative;
  top: 30vh;
  color: antiquewhite;
  width: 75%;
  text-align: center;
  display: block;
  margin: auto;
}

#introductionParagraphs {
  border: 0.125rem dotted black;
  margin: 4%;
  margin-bottom: 4%;
  display: block;
  position: relative;
  display: none;
  top: 130px;
  padding: 1%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(189, 191, 187, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(189, 191, 187, 1);
  box-shadow: 10px 10px 5px 0px rgba(189, 191, 187, 1);
}

#goofDefinition {
  display: block;
  margin: 0 auto;
  border: 0.15rem dotted black;
  width: 25%;
  padding: 1.5%;
  text-align: center;
  box-shadow: 10px 10px 60px 12px rgba(168, 138, 74, 0.87);
  -webkit-box-shadow: 10px 10px 60px 12px rgba(168, 138, 74, 0.87);
  -moz-box-shadow: 10px 10px 60px 12px rgba(168, 138, 74, 0.87);
}

#button2,
#card2 {
  background-color: rgb(51, 12, 9);
}

#button3,
#card3 {
  background-color: rgb(87, 16, 11);
}

#button4,
#card4 {
  background-color: rgb(141, 29, 21);
}

#button5,
#card5 {
  background-color: rgb(218, 43, 30);
}
